<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>

<style>
  #tableMedlemmer {
    width: 90% !important;
    margin: 0 auto !important;
  }
  .form-class {
    display: inline-block;
  }

  .readonly {
    opacity: 0.8;
    cursor: not-allowed;
  }
</style>

<script defer>
  
</script>

<body>
  <form action="/post/medlem/redigerBruker" method="POST"><div class="container mx-auto w-25 mt-2">
    <div class="login-container mt-5 border rounded p-3 bg-body-tertiary">
      <label class="form-label">ID</label>
      <input type="email" name="email" class="form-control readonly" id="email" placeholder="<%= user.id %>" readonly> <br>
      <label for="" class="form-label">Navn</label>
      <input type="text" name="name" class="form-control" id="name" placeholder="Navn" value="<%= user.name %>"> <br>
      <label for="" class="form-label">E-post</label>
      <input type="text" name="epost" class="form-control" id="epost" placeholder="E-post" value="<%= user.email %>"> <br>
      <label for="" class="form-label">Tlf</label>
      <input type="text" name="tlf" class="form-control" id="tlf" placeholder="Telefonnummer" value="<%= user.tlf %>"> <br>
      <label for="" class="form-label">Rolle</label>
      <input type="text" name="rolle" class="form-control readonly" id="rolle" placeholder="<%= user.rolle %>" readonly> <br>
      <label for="" class="form-label">Bataljon</label>
      <input type="text" name="bataljon" class="form-control readonly" id="bataljon" placeholder="<%= user.bataljon %>" readonly> <br>
      <label for="" class="form-label">Kompani</label>
      <input type="text" name="kompani" class="form-control readonly" id="kompani" placeholder="<%= user.kompani %>" readonly> <br>
      <div class="btn-container d-flex justify-content-center">
        <input type="submit" class="btn btn-primary" value="Send inn">
      </div>
    </div>
  </div></form>
</body>
</html>

<!--
  AGENDA:
    SOMEHOW FIND THE LEADER ACCESSING
    FETCH USERS AND SEE IF THEIR KOMPANI ID MATCHES THE LEADER
    DISPLAY IN TABLE
    ADD BUTTON TO REMOVE FROM KOMPANI
-->